.card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* gap: 1.5rem; */
  border-radius: 0.4rem;
  width: 15rem;
  aspect-ratio: 1;
  margin: 2rem;
  padding: 1rem;
  cursor: copy;
}

.card__box {
  padding: 0.5rem 0;
  font-size: 1.1rem;
  border-radius: 0.6rem;
  border: solid 1px black;
  width: 70%;
  text-align: center;
  background-color: white;
}

.name {
  font-size: 1.5rem;
}

.card__delete-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 20%;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}
